// app global css in Sass form
// @font-face
//   font-family: me_quran
//   src: url(./fonts/me_quran/me_quran.woff)

//   // @font-face
//   // font-family: "bingo"
//   // src: url('bingo.eot')
//   // src: local('bingo')
//   // src: url('bingo.svg#bingo') format('svg')
//   // src: url('bingo.otf') format('opentype')
// // declare a class which applies it
@import url(http://fonts.googleapis.com/earlyaccess/amiri.css)

@font-face
  font-family: 'me_quran'
  src: url('https://icikiwir.github.io/test/me_quran.eot?#iefix') format('embedded-opentype') url('https://icikiwir.github.io/test/me_quran.woff') format('woff'), url('https://icikiwir.github.io/test/me_quran.ttf') format('truetype'), url('https://icikiwir.github.io/test/me_quran.svg#me_quran') format('svg')
      font-weight: normal
      font-style: normal
.amiri
  font-family: 'Amiri', serif
  direction: rtl
  font-size: 19.5px
  font-weight: 300
  line-height: 1.4
.me-quran
  font-family: 'me_quran'
